<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <a th:text="${user.getName() + ' ' + user.getSurname()}"></a>
    <br>
    <a th:text="${user.getEmail()}"></a>
    <br>
    <a th:text="'Роль: ' + ${user.getAuthorities().stream().findAny().orElse(null)}"></a>
    <br>
    <a th:text="'Id: ' + ${user.getId()}"></a>
    <br>
    <a th:href="@{/admin/user/{id}/edit(id=${user.getId()})}">Edit</a>
    <hr>
    <form th:method="DELETE" th:action="@{/admin/user/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete.">
    </form>
</body>
</html>