<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .description {
            width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
        }
        .container {
            margin-left: 10%;
            margin-top: 5%;
            margin-right: 10%;
            font-size: large;
        }
        input {
            margin-top: 0.5em;
            font-size: large;
            font-family: Times New Roman;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>My courses</h2>
    <br>
    <a href="/author">Go back</a>
    <br>
    <h3>Public courses:</h3>
    <div th:each="course : ${publicCoursesList}">
        <a th:href="@{/author/course/{id}(id=${course.getId()})}"
           th:text="${course.getTitle()}"></a>
        <div class="description" th:text="${course.getDescription()}"></div>
        <br>
    </div>
    <hr>
    <h3>Non public courses:</h3>
    <div th:each="course : ${nonPublicCoursesList}">
        <a th:href="@{/author/course/{id}(id=${course.getId()})}"
           th:text="${course.getTitle()}"></a>
        <div class="description" th:text="${course.getDescription()}"></div>
        <br>
    </div>
    <hr>
    <form action="/author/courses/new">
        <input type="submit" value="New course">
    </form>
</div>
</body>
</html>