<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body>
    <h2><div th:text="${course.getTitle()}"></div></h2>
    <a href="/author/courses">Go back</a>
    <br><br>
    <div th:text="'Description: ' + ${course.getDescription()}"></div>
    <div th:text="'Price: ' + ${course.getPrice()}"></div>
    <div th:if="${course.isNonPublic() == true}">Non public</div>
    <div th:if="${course.isNonPublic() == false}">Public</div>
    <form th:action="@{/author/course/{courseId}/edit(courseId=${course.getId()})}" th:method="GET">
        <input type="submit" value="Edit course">
    </form>
    <hr>
    <div>Lessons list: </div>
    <div th:each="lesson: ${course.getLessonsList()}">
        <a th:href="@{/author/course/{courseId}/lesson/{num}(courseId=${course.getId()}, num=${lesson.getNum()})}"
        th:text="${'Lesson ' + lesson.getNum() + '. ' + lesson.getTitle()}"></a>
    </div>
    <form th:action="@{/author/course/{courseId}/lessons/new(courseId=${course.getId()})}" th:method="GET">
        <input type="submit" value="New lesson">
    </form>
    <hr>
    <form th:method="POST" th:action="@{/author/course/{courseId}/invite(courseId=${course.getId()})}">
        <div>Invite user to a course:</div>
        <input type="text" name="userEmail" placeholder="User email">
        <input type="submit" value="Invite user">
        <div th:text="${message}"></div>
    </form>
</body>
</html>