<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New course</title>
    <style>
        .container {
            margin-left: 10%;
            margin-top: 5%;
            margin-right: 10%;
            font-size: large;
        }
        input, textarea {
            margin-top: 0.5em;
            font-size: large;
            font-family: Times New Roman;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Create new course</h2>
    <a href="./">Go back</a>
    <br><br>
    <form th:method="POST" th:action="@{/author/courses/new}" th:object="${course}">
        <label for="title"> </label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
        <br>
        <label for="description"></label>
        <textarea th:field="*{description}" id="description" placeholder="Description"></textarea>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
        <br>
        <label for="price">Price:</label>
        <input type="text" th:field="*{price}" id="price" placeholder="Price (0 if free)">
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>

        <br>
        <label for="public">Public</label>
        <input type="radio" th:field="*{nonPublic}" id="public" value="false">
        <br>
        <label for="nonPublic">Non public</label>
        <input type="radio" th:field="*{nonPublic}" id="nonPublic" value="true">
        <br>

        <input type="submit" value="Create course">
    </form>
</div>
</body>
</html>