<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
</head>
<body>
    <h2><div th:text="${'Lesson ' + lesson.getNum() + ' of ' + course.getTitle() + ' course'}"></div></h2>
    <a th:href="@{/author/course/{courseId}(courseId=${lesson.getCourseId()})}">Go back</a>
    <br><br>
    <div th:text="'Title: ' + ${lesson.getTitle()}"></div>
    <div th:text="'Description: ' + ${lesson.getDescription()}">Description:</div>
    <br>
    <div>Watch lesson:</div>
    <video width="640" height="480" controls th:src="@{/author/course/{courseId}/lesson/{num}/video(courseId=${lesson.getCourseId()}, num = ${lesson.getNum()})}"></video>

    <form th:action="@{/author/course/{courseId}/lesson/{num}/edit(courseId=${lesson.getCourseId()}, num = ${lesson.getNum()})}"
          th:method="GET">
        <input type="submit" value="Edit lesson">
    </form>
</body>
</html>