<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h2>Teaching</h2>
    <a href="author/courses">My courses</a>&emsp;
    <a href="author/statistic">Statistics</a>&emsp;
    <a href="../account">Account</a>&emsp;
    <a href="../notifications">Notifications</a>&emsp;
    <a href="../user">Learning</a>
    <hr>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>