<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/main-style.css">
    <style>
        .container {
            padding-left: 2em;
        }
        .coursePlate {
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
<header>
    <div class="navbar__block">
        <div class="navbar__menu-item">
            <a href="/main_page">
                <img src="/icons/main-icon.png" alt="Main page">
            </a>
        </div>
        <div class="navbar__menu-item">
            <a href="/courses">My learning</a>
        </div>
        <div class="navbar__menu-item">
            <a href="/invitations">Invitations</a>
        </div>
        <div sec:authorize="hasRole('ROLE_AUTHOR')" class="navbar__menu-item">
            <a href="/author/courses">Teaching</a>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" class="navbar__menu-item">
            <a href="/become_a_teacher">Become a teacher</a>
        </div>
    </div>
    <div class="navbar__block">
        <div sec:authorize="isAuthenticated()" class="navbar__menu-item navbar__balance">
            <b th:text="'Balance: ' + ${balance}"></b>
        </div>
        <div class="navbar__menu-item">
            <a href="/account">
                <img src="/icons/account-icon.png" alt="My account">
            </a>
        </div>
    </div>
</header>
<div class="container">
    <h2>Courses you are subscribed to</h2>
    <th:block th:each="course : ${coursesList}" th:if="${coursesList.size() > 0}">
        <div class="coursePlate">
            <a th:if="${coursesList.size() > 0}" th:href="@{/course/{id}(id=${course.getId()})}">
                <div class="coursePlate__inside-flex-wrapper first-row">
                    <div class="coursePlate__info">
                        <b th:text="${course.getTitle()}">Title</b>
                        <br>
                        <div class="courseDescription" th:text="${course.getDescription()}">Description</div>
                    </div>
                    <div class="coursePlate__icon">
                        <img th:src="@{/course/{courseId}/icon(courseId=${course.getId()})}">
                    </div>
                </div>
                <div class="coursePlate__inside-flex-wrapper sec-row">
                    <div th:text="${authorMap.get(course.getAuthorId())}">Author</div>
                    <div></div>
                </div>
            </a>
        </div>
    </th:block>
    <div th:text="${message}"></div>
</div>
</body>
</html>