<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .coursePlate {
            padding: 0.5em;
            border: 1px solid #CCC;
            border-radius: 1em;
            width: 300px;
            max-height: 150px;
        }
        .courseDescription {
            text-overflow:ellipsis;
            overflow:hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    </style>
</head>
<body>
    <h2>Courses you are subscribed to</h2>
    <br><a href="../user">Go back</a><br>
    <th:block th:each="course : ${coursesList}" th:if="${coursesList.size() > 0}">
        <br>
        <div class="coursePlate">
            <a th:if="${coursesList.size() > 0}" th:href="@{/user/course/{id}(id=${course.getId()})}" th:text="${course.getTitle()}"></a>
            <br>
            <div class="courseDescription" th:if="${coursesList.size() > 0}" th:text="${course.getDescription()}"></div>
            <i th:text="'Author: ' + ${authorMap.get(course.getAuthorId())}"></i>
        </div>
    </th:block>
    <div th:text="${message}"></div>
</body>
</html>