<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <header>
        <div class="navbar__block">
            <div class="navbar__menu-item">
                <a href="/main_page">
                <img src="/icons/main-icon.png" alt="Main page">
                </a>
            </div>
            <div class="navbar__menu-item">
                <a href="/courses">My learning</a>
            </div>
            <div class="navbar__menu-item">
                <a href="/invitations">Invitations</a>
            </div>
            <div sec:authorize="hasRole('ROLE_AUTHOR')" class="navbar__menu-item">
                <a href="/author/courses">Teaching</a>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')" class="navbar__menu-item">
                <a href="/become_a_teacher">Become a teacher</a>
            </div>
        </div>
        <div class="navbar__block">
            <div sec:authorize="isAuthenticated()" class="navbar__menu-item navbar__balance">
                <b th:text="'Balance: ' + ${balance}"></b>
            </div>
            <div class="navbar__menu-item">
                <a href="/account">
                    <img src="/icons/account-icon.png" alt="My account">
                </a>
            </div>
        </div>
    </header>
    <div class="main-box">
        <div class="search-box">
            <div style="color:#c5b19b">Enter keyword "course" to find most of them:</div>
            <form th:action="@{/main_page}" th:method="GET">
                <div>
                    <input class="input-search input-field" name="keyword" type="search"
                           placeholder="Author or course name/description" th:value="${keyword}"
                           aria-label="Search">
                    <input class="input-search input-button" type="submit" value="Search">

                    <label for="freeTrue">Free courses</label>
                    <input type="checkbox" name="free" id="freeTrue" th:checked="${checkedFree}" th:value="${true}">
                    <label for="paidTrue">Paid courses</label>
                    <input type="checkbox" name="paid" id="paidTrue" th:checked="${checkedPaid}" th:value="${true}">
                </div>
            </form>
            <div th:text="${noResults}"></div>
            <br>
        </div>
        <div class="course-plate__box">
        <div class="rows">
            <th:block th:each="course : ${coursesPage}" th:if="${coursesPage.totalPages > 0}">
                <div class="coursePlate">
                    <a th:if="${coursesPage.totalPages > 0}" th:href="@{/course/{id}(id=${course.getId()})}">
                        <div class="coursePlate__inside-flex-wrapper first-row">
                        <div class="coursePlate__info">
                            <b th:text="${course.getTitle()}"></b>
                            <br>
                            <div class="courseDescription" th:if="${coursesPage.totalPages > 0}" th:text="${course.getDescription()}"></div>
                        </div>
                        <div class="coursePlate__icon">
                            <img th:src="@{/course/{courseId}/icon(courseId=${course.getId()})}">
                        </div>
                        </div>
                        <div class="coursePlate__inside-flex-wrapper sec-row">
                            <div th:text="${authorMap.get(course.getAuthorId())}"></div>
                            <div th:if="${course.getPrice() > 0}" class="price" style="color: #e77900" th:text="'Price: ' + ${course.getPrice()}"></div>
                            <div th:if="${course.getPrice() == 0}" class="price" style="color: #6ea40f">Free course</div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
        </div>
        <div class="pagination">
        <div th:each="pageNumber : ${pageNumbers}">
            <div class="pagination__page" th:if="${coursesPage.totalPages > 0}">
                <div>
                <a th:href="@{/main_page(keyword=${keyword}, size=${coursesPage.size}, page=${pageNumber})}">
                    <div class="pagination__page-number">
                    <div th:text="${pageNumber}"
                         th:class="${pageNumber==coursesPage.number + 1} ? active">
                    </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
        </div>

        <div class="top-courses-header">
            <div class="top-courses-header__text">Our top <a th:text="${courseSubsMap.size()}"></a> courses</div>
        </div>

        <div style="margin-bottom: 1em" class="course-plate__box">
        <div class="rows">
            <th:block th:each="entry : ${courseSubsMap}">
                <div class="coursePlate topCoursePlate">
                    <a th:href="@{/course/{id}(id=${entry.getKey().getId()})}">
                        <div class="coursePlate__inside-flex-wrapper first-row">
                            <div class="coursePlate__info">
                                <b th:text="${entry.getKey().getTitle()}"></b>
                                <br>
                                <div class="courseDescription" th:text="${entry.getKey().getDescription()}"></div>
                            </div>
                            <div class="coursePlate__icon">
                                <img th:src="@{/course/{courseId}/icon(courseId=${entry.getKey().getId()})}">
                            </div>
                        </div>
                        <div class="coursePlate__inside-flex-wrapper sec-row">
                            <div class="sec-row_wide-item" th:text="${topCoursesAuthorMap.get(entry.getKey().getAuthorId())}"></div>
                            <div class="sec-row_narrow-item" th:if="${entry.getValue() != 1}" th:text="${entry.getValue()} + ' subs'"></div>
                            <div class="sec-row_narrow-item" th:if="${entry.getValue() == 1}" th:text="${entry.getValue()} + ' sub'"></div>
                            <div class="sec-row_narrow-item price" th:if="${entry.getKey().getPrice() > 0}" style="color: #e77900" th:text="'Price: ' + ${entry.getKey().getPrice()}"></div>
                            <div class="sec-row_narrow-item price" th:if="${entry.getKey().getPrice() == 0}" style="color: #6ea40f">Free course</div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
        </div>
    </div>
    <footer class="bottom-box">
        <div class="bottom-box__item bottom-box__item__left">
            <div>2022. Demo version</div>
        </div>
        <div class="bottom-box__item bottom-box__item__center">
            <div><a href="/">Hello page</a></div>
            <div><a href="https://github.com/Journeyman150/OnlineCoursePlatform">Github link</a></div>
            <div><a href="/api">REST api info</a></div>
        </div>
        <div class="bottom-box__item">
            <div>
            </div>
        </div>
    </footer>
</body>
</html>