<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <style>
        #passwordForm {
            width: 330px;
            height: 80px;
            text-align: center;
            padding: 15px;
            border: 3px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            display: none;
        }
        #passwordForm:target {display: block;}
    </style>
</head>
<body>
    <h2>My account</h2>
    <div th:text="'Email: ' + ${user.getEmail()}"></div>
    <div th:text="'Name: ' + ${user.getName()}"></div>
    <div th:text="'Surname: ' + ${user.getSurname()}"></div>
    <div th:text="'Balance: ' + ${user.getBalance()}"></div>
    <br>
    <a href="#passwordForm">Change password</a>
    <div id="passwordForm">
        <form th:method="PATCH" th:action="@{/account/change_password}">
            <label for="currentPassword">Current password:</label>
            <input type="password" name="currentPassword" id="currentPassword"> <br>
            <div style="color:red" th:text="${currentPasswordErrorMessage}">Error</div>

            <label for="newPassword">New password:</label>
            <input type="password" name="newPassword" id="newPassword"> <br>
            <div style="color:red" th:text="${newPasswordErrorMessage}">Error</div>

            <label for="confirmPassword">Confirm password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword"> <br>
            <div style="color:red" th:text="${confirmPasswordErrorMessage}">Error</div>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>