<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Hello!</title>
    <style>
        .container {
            text-align: center;
            font-family: Arial;
            font-size: large;
        }
        input {
            font-size: large;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
        <br>
        <div sec:authorize="isAuthenticated()">
            <a href="/user">Let's Learn!</a>
            <br><br>
        </div>
        <div sec:authorize="hasRole('ROLE_AUTHOR')">
            <a href="/author">Let's Teach!</a>
            <br><br>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/admin">Let's Administer!</a>
        </div>
        <br>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</body>
</html>