<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
        <a href="/user">Let's learn!</a>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
    <div sec:authorize="hasRole('ROLE_AUTHOR')">
        This content is only shown to authors.
        <a href="/author">Let's Teach!</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
        <a href="/admin">Let's Administer!</a>
    </div>
</body>
</html>