<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
    <style>
        p {
            font-size: xx-large;
        }
        div {
            font-family: Arial;
            text-align: center;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div>
        <h1>Welcome to the course web platform!</h1>

        <p>Click <a th:href="@{/main_page}">here</a> to continue.</p>

        <p>Or <a th:href="@{/api}">here</a> to see REST API info.</p>
    </div>
</body>
</html>