<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login </title>
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/enter-style.css">
</head>
<body>
<header>
    <div class="navbar__block">
        <div class="navbar__menu-item">
            <a href="/main_page">
                <img src="/icons/main-icon.png" alt="Main page">
            </a>
        </div>
        <div class="navbar__menu-item">
            <a href="../courses">My learning</a>
        </div>
        <div class="navbar__menu-item">
            <a href="../invitations">Invitations</a>
        </div>
        <div sec:authorize="hasRole('ROLE_AUTHOR')" class="navbar__menu-item">
            <a href="../author">Teaching</a>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" class="navbar__menu-item">
            <a href="../become_a_teacher">Become a teacher</a>
        </div>
    </div>
    <div class="navbar__block">
        <div>
        </div>
    </div>
</header>
<form class="user-form" th:action="@{/login}" method="post">
    <div class="text"><h3>Welcome! Please log in:</h3></div>
    <div class="text" style="color: red" th:if="${param.logout}">
        You have been logged out.
    </div>
    <input class="input-user-data input-user-data__field" type="text" name="username" placeholder="Email"/>
    <input class="input-user-data input-user-data__field" type="password" name="password" placeholder="Password"/>
    <br>
    <button class="input-user-data input-user-data__button" type="submit">Log in</button>
    <div class="text" style="color: red" th:if="${param.error}">
        Invalid username and/or password.
    </div>
    <br>
    <div class="text"><a href="/registration" class="button"><div class="log-in-sign-up">Sign up</div></a></div>
</form>
<footer class="bottom-box">
    <div class="bottom-box__item bottom-box__item__left">
        <div>2022. Demo version</div>
    </div>
    <div class="bottom-box__item bottom-box__item__center">
        <div><a href="/">Hello page</a></div>
        <div><a href="https://github.com/Journeyman150/OnlineCoursePlatform">Github link</a></div>
        <div><a href="/api">REST api info</a></div>
    </div>
    <div class="bottom-box__item">
        <div></div>
    </div>
</footer>
</body>
</html>